@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap');

*{
    font-family: 'Montserrat Alternates', sans-serif;
}

.navbar, .footer{
    background-color: #146128;
}

.bodyPages{
    background-color: rgb(247, 242, 242);
}
a{
    color: black;
    font-size: 20px;
}
.navIndex, .footerIndex{
    opacity: 0.7;
    color: transparent;
}
img{
    margin-left: 40px;
    max-width: 300px;
    max-height: 500px;
}
button{
    margin-left: 65px;
    border-radius: 15px;
}

.welcome{
    background-image: url(../img/forbes.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#welcomeButton{
    background-color: rgb(170, 21, 21);
    border-radius: 10px;
}
header{
    min-height: 590px;
}
.welcomeText{
    padding: 150px;
    font-size: 24px;
    text-align: center;  
    color: white;
}

#productos{
    display: flex;
    margin: 10px 80px 30px 80px;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    min-width: 290px;
}
.imgProduct{
    width: 300px;
    height: 200px;
    border-radius: 15px;
    margin: 0px;
}
.infoProduct{
    font-size: 24px;
}
.products{
    background-color: #72b183;
    border-style: solid;
}
.productSection{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;

}
.productInfo{
    text-align: center;
}
h2{
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.text{
    width: 65%;
}
.margin{
    margin: 100px;
}
.padding{
    padding: 50px;
    color:#146128
}
.porcentajes{
    display: flex;
    justify-content: space-between;
    margin: 100px;
}
.oferta{
    background-color: black;
    text-align: center;
    color:#146128
}
.imagenOferta{
    margin-left: 300px;
    width: 300px;
    height: 350px;
    border-radius: 15px;
}
.textOferta{
    font-size: 18px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}
.contacto{
    background-image: url(../img/referencia.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    text-align: center;
}
.center{
    padding: 120px;
    color: white;
}
.footerDown{
    position: absolute;
    bottom: 0;
}
