a{
    text-decoration: none;
    font-family: 'neogrey';
    color: white;
}
.imgProductId{
    width: 650px;
    height: 370px;
    border-radius: 2px;
    margin: 80px;
    margin-right: 20px;
}
.carProduct{
    margin-top: 80px;
    margin-right: 30px;
    font-size: 18px;
    max-width: 650px;
}
.dContainer{
    display: flex;
    background-color:  #f4f1e9;
}
.titeId{
    margin: 15px;
    text-align: center;
}
.beneficios{
    background-color: #336856;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 60px;
}
.beneficios img{
    width: 400px;
    height: 300px;
    border-radius: 5px;
    margin: 0px;
}
.carD{
    background-color:  #f4f1e9;
    margin: 15px;
    border-radius: 5px;
    padding: 10px;
    max-width: 420px;
    text-align: center;
}
.textHouse{
    padding: 15px;
}
h3{
    padding: 10px;
}
.detalles{
    background-color:  #f4f1e9;
    text-align: center;
}
.detalles h2{
    background-color:  #f4f1e9;
    margin: 0px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.espacios{
    display: flex;
    justify-content: center;
}
.espacios img{
    width: 700px;
    height: 90vh;
    border-radius: 15px;
    margin: 30px;
}
.izquierda{
    text-align: right;
    width: 30%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.derecha{
    text-align: left;
    width: 30%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.citas{
    background-color: #1d4934;
    padding: 50px;
    text-align: center;
    color: white;
}
.citas p{
    font-size: 20px;
}

.seller{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #f4f1e9;
}
.seller img{
    height: 200px;
    width: 110px;
    border-radius: 45%;
    margin: 40px;
}
.seller p{
    max-width: 600px;
    text-align: justify;
}
.seller h3{
    padding: 0px;
}
button{
    background-color:  #FFAD40;
    padding: 12px;
    border-radius: 4px;
    color: white;
    border: none;
}
button:hover {
    background-color: #ca852b;
}
.created{
    background-color:  #f4f1e9;
    padding: 40px;
    text-align: center;
}
.created img{
    height: 200px;
    width: 300px;
    border-radius: 10px;
}
.sectionForm{
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    width: 600px;
    margin: 15px;
}

.sectionForm p, h5{
    font-size: 20px;
    width: 300px;
    padding-top: 10px;
}
.productSectionSell{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 5px 5px 5px #454141;
    margin: 20px 10px 20px 10px;
    text-align: center;
}
