@media screen and (max-width: 767px){
    .marginNav {
        margin-left: 0px;
    }
    .logo{
        margin-left: 20px;
    }
    .welcome {
        height: 87vh;
    }
    .welcomeText {
        padding: 5vh;
        padding-top: 30vh;
        padding-bottom: 30vh;
    }
    .welcome h2 {
        font-size: 32px;
    }
    .welcomeButton{
        padding: 5px;
        width: 160px;
        font-size: 16px;
    }
    /*Seccion Porcentajes*/
    .porcentajes {
        height: 100%;
        display: block;
        padding: 30px;
    }
    .porcentaje{
        width: 100%;
    }
    .text {
        width: 100%;
        font-size: 18px;
        padding: 10px;
    }
    .bordeVerde {
        padding: 0px;
        justify-content: center;
    }
    .bordeVerde p{
        text-align: center;
        margin: auto;
    }
    /*Seccion Oferta*/
    .oferta {
        display: block;
        height: 100%;
    }
    .imagenOferta {
        width: 100%;
        height: 270px;
    }
    .ofertText {
        font-size: 16px;
        width: 70%;
        margin: auto;
        text-align: justify;
    }
    .textOferta {
        width: 80%;
        padding-bottom: 20px;
    }
    .titleText {
        margin-bottom: 0px;
        padding-bottom: 5px;
    }
    /*Seccion Contact Forbes*/
    .contactForbes {
        padding: 10px;
        font-size: 22px;
    }
    #formMessage {
        width: 50%;
        padding: 20px;
        margin: auto;
    }
    #formMessage input, textarea {
        width: 100%;
        font-size: 16px;
    }
    .ws{
        padding: 10px;
        width: 50%;
    }
    .wsText {
        font-size: 18px;
        padding-bottom: 5px;
    }
    /*Seccion Back*/
    .back{
        height: 100%;
    }
    .center {
        padding: 8vh;
    }
    .textBack {
        font-size: 20px;
        padding: 10x;
    }
    .back {
        background-size: 100% 100%;
      }
    /*Seccion Contact*/
    .contact {
        padding: 10px;
    }
    .infoContacto{
        display: block;
    }
    .info{
        width: 100%;
    }
    .email{
        width: 100%;
    }
    .seguir{
        font-size: 14px;
    }
    .logoFooter{
        height: 70px;
        width: 90px;
    }
    footer{
        height: 100%;
    }


    /*Html Productos*/
    #productos {
        display: block;
    }
    .productSection {
        margin: 10px 5px 10px 5px;
        max-width: 350px;
    }
    .imgProduct {
        width: 150px;
    }
    .productInfo {
        text-align: center;
        font-size: 22px;
        margin: 0px;
    }
    .categorias{
        margin: 0px;
        padding: 25px;
    }
    .categorias h3{
        margin-top: 26px;
        margin-bottom: 0px;
    }
    .categorias div{
        margin-left: 40px;
      }
    
    /*Html AboutUs*/
    .WIA {
        height: 100%;
    }
    .aboutUs {
        max-width: 70%;
        padding-top: 25px;
    }
    .WIA img {
        width: 100%;
        height: 45vh;
    }
    .centrado {
        width: 170px;
        padding: 0px 10px 0px 10px;
        text-align: justify;
    }
    /*Html UserAccount*/
    .displayFlex {
        display: block;
    }
    .form-container {
        display: block;
    }
    .sellerSection {
        height: 93vh;
        width: 100%;
        padding: 10px;
    }
    .form-container form {
        padding: 15px;
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .marginNav {
        margin-left: 0px;
    }
    .logo{
        margin-left: 20px;
    }
    .welcome {
        height: 96vh;
    }
    .welcomeText {
        padding: 5vh;
        padding-top: 39vh;
        padding-bottom: 36vh;
    }
    .welcome h2 {
        font-size: 32px;
    }
    .welcomeButton{
        padding: 5px;
        width: 160px;
        font-size: 16px;
    }
    /*Seccion Porcentajes*/
    .porcentajes {
        padding: 20px;
    }
    .text {
        font-size: 18px;
        margin: auto;
        padding: 20px;
    }
    .verde p {
        width: 200px;
    }
    .bordeVerde {
        margin-top: 10px;
        padding: 0px;
    }
    /*Seccion Oferta*/
    .oferta {
        height: 65vh;
    }
    .padding{
        padding: 10px;
    }
    .imagenOferta {
        width: 55%;
        height: 100%;
    }
    .textOferta {
        font-size: 16px;
        width: 280px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: justify;
    }
    /*Seccion Back*/
    .center {
        padding: 80px;
    }
    .textBack {
        font-size: 20px;
        padding: 10x;
    }
    .back {
        background-size: 100% 100%;
    }
    /*Seccion Contact*/
    .contact {
        padding: 20px;
    }
    .info{
        width: 33%;
    }
    .email{
        padding: 20px;
        text-align: center;
        word-wrap: break-word;
        width: auto;
    }
    .seguir{
        font-size: 14px;
    }
    /*Html Productos*/
    .categorias {
        font-size: 20px;
        padding-left: 36px;
    }
    /*Html Vender*/
    .form-container{
        padding: 25px;
    }
    footer{
        position: relative;
        bottom: 0px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    nav img{
        margin-left: 20px;
    }
    .welcome {
        background-size: 100% 100%;
      }
    /*Seccion Porcentajes*/
    .porcentajes {
        padding: 20px;
    }
    .text {
        font-size: 18px;
        margin: auto;
        padding: 20px;
    }
    .bordeVerde {
        margin-top: 10px;
        padding: 0px;
    }
    /*Seccion Oferta*/
    .padding{
        padding: 10px;
    }
    .imagenOferta {
        width: 300px;
        height: 270px;
    }
    .textOferta {
        font-size: 16px;
        width: 280px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: justify;
    }
    /*Seccion Back*/
    .center {
        padding: 80px;
    }
    .textBack {
        font-size: 20px;
        padding: 10x;
    }
    .back {
        background-size: 100% 100%;
    }
    /*Seccion Contact*/
    .contact {
        padding: 20px;
    }
    .info{
        width: 33%;
    }
    .email{
        padding: 20px;
        text-align: center;
        word-wrap: break-word;
        width: auto;
    }
    .seguir{
        font-size: 16px;
    }
    /*Html Productos*/
    .categorias {
        font-size: 20px;
        padding-left: 36px;
    }
    /*Html Vender*/
    .form-container{
        padding: 25px;
    }
    footer{
        position: relative;
        bottom: 0px;
    }
}

@media screen and (min-width: 1200px){
    .welcome {
        background-size: 100% 100%;
    }
    .back {
        background-size: 100% 100%;
    }
    .email {
        padding: 20px;
        text-align: center;
        word-wrap: break-word;
        width: auto;
    }
}