@font-face {
    font-family: 'neogrey';
    src:url('NeogreyMedium.otf'),
        url('NeogreyRegular.otf');
    font-weight: normal;
    font-style: normal;
}

/* --------------------- Cosas generales ---------------------  */

h1, h2, h3{
    font-family: 'neogrey';
}
a{
    text-decoration: none;
    color: white;
}
*{
    font-family:Arial, Helvetica, sans-serif;

}
button{
    border-radius: 15px;
}
img{
    margin-left: 40px;
}
h2{
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

/* --------------------- Welcome, header, navBar --------------------- */

.welcome{
    background-image: url(../img/Imagen1.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.welcomeButton{
    background-color:  #136c2b;
    padding: 10px;
    border-radius: 7px;
    color: white;
    width: 250px;
    font-size: 22px;
}
header{
    min-height: 640px;
}
.welcomeText{
    padding: 150px;
    font-size: 24px;
    text-align: center;  
    color: white;
}
nav{
    color: black;
    font-size: 20px;
}
.navbar, .footer{
    background-color: #146128;
}
.navIndex, .footerIndex{
    opacity: 0.7;
    color: transparent;
}

/* --------------------- Productos, secciòn ventas --------------------- */

#productos{
    display: flex;
}
.productosprueba{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;  
}
.imgProduct{
    width: 268px;
    height: 200px;
    border-radius: 15px;
    margin: 0px;
}
.buttonPreview{
    margin: 10px;
    margin-left: 80px;
}
.products{
    background-color:  #f4f1e9;
    border-style: solid;
}
.productSection{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 5px 5px 5px #454141;
    margin: 20px 10px 10px 10px;
    max-width: 268px;
}
.productInfo{
    text-align: center;
    font-size: 24px;
    margin: 10px;
}
.products h2{
    padding: 10px;
    color: white;
    background-image: linear-gradient(to right, #000000, #101111, #252a2a, #3c3f3f, #585858); 
}
.categorias{
    font-size: 22px;
    padding: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    background-image: linear-gradient(to right, #000000, #101111, #252a2a, #3c3f3f, #585858); 
    height: 100%;
}
.buttonCategry{
    margin: 0px;
}
.categorias a, h3{
    color: white;
}
.categorias a{
    text-decoration: none;
    padding-top: 15px;
}
.togleCategory{
    background-image: linear-gradient(to right, #000000, #101111, #252a2a, #3c3f3f, #585858); 
}
.togleCategory svg{
    background-color: #f4f1e9;
    height: 35px;
    width: 35px;
    border-radius: 15px;
}

/*  ---------------------   Sección Porcentajes  ---------------------  */

.porcentajes{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px 30px 100px;
    background-color: #f4f1e9;
}
.verde{
    color: #136c2b;
    text-align: center;
    margin-top: 16px;
}
.verderSvg{
    display: flex;
    justify-content: center;
}
.bordeVerde{
    border-radius: 15px;
    border-style: solid;
    margin: 10px;
}
.verde svg{
    height: 35px;
    width: 25px;
    margin-left: 10px;
}
.verde h4{
    font-size: 34px;
}
.verde p{
    width: 150px;
}
.text{
    width: 60%;
    text-align: justify;
    font-size: 26px;
    padding-top: 56px;
}

/*  ---------------------   Sección Oferta  ---------------------  */

.oferta{
    background-color: black;
    text-align: center;
    color:#2CCE50;
}
.imagenOferta{
    margin-left: 300px;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    margin-top: 20px;
}
.textOferta{
    font-size: 18px;
    margin-left: 80px;
    margin-right: 300px;
    margin-top: 20px;
    text-align: justify;
}
.padding{
    padding: 30px;
}
.flex{
    display: flex;
    justify-content: space-between;
}

/*  ---------------------   Sección Back  ---------------------  */

.back{
    background-image: url(../img/back.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
.textBack{
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
}
.center{
    padding: 140px;
    color: white;
}
.footerDown{
    position: absolute;
    bottom: 0;
}

/*  ---------------------   Sección contacto Ws y Mail  ---------------------  */

.flexContact{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}
.contactForbes{
    background-color: black;
    color: white;
    margin: 0px;
    border-radius: 0px;
    padding: 20px;
    font-size: 36px;
}
.ws{
    padding-top: 30px;
    padding-bottom: 40px;
    margin-left: 40px;
    text-align: center;
    width: 500px;
}
.wsText{
    font-size: 24px;
    color: white;
    padding: 10px;
}
textarea{
    padding: 16px;
    margin: 5px;
    border-radius: 15px;
    width: 300px;
}
.formularioIndex{
    width: 300px;
}
input{
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
}
.button{
    background-color: #136c2b;
    color: white;
    margin-left: 150px;
    width: 150px;
}
.formEmail{
    color: white;
    border-style: solid;
    border-radius: 15px;
    padding: 10px;
    border-color: #136c2b;
    margin: 20px 100px 20px 0px;
}
.wsForm{
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-left: 40px;
    text-align: center;
    color: white;
    border-color: #136c2b;
    width: 500px;
}
.formEmail form{
    margin: 0px;
}

/*  ---------------------   Sección contacto  ---------------------  */

.contact{
    padding: 50px;
    background-color: #f4f1e9;
    text-align: center;
}
.contact svg{
    height: 30px;
    width: 30px;
    margin-bottom: 5x;
}
.contacto{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.contact h3 {
    color: #136c2b;
}
.contactos{
    width: 30%;
}
.contactos a{
    color: black;
    text-decoration:underline;
}

/*  ---------------------   Sección personas, AboutUs  ---------------------  */

.centrado{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    color: black;
}
.personalImg{
    border-radius: 15px;
    height: 200px;
    width: 250px;
}
.personal{
    background-color: black;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 40px;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 20px;
    border-radius: 15px;
}

/*  ---------------------   Sección personas, Opiniones  ---------------------  */

.opiniones{
    padding: 60px 300px 60px 300px;
    border-style: solid;
    text-align: center;
}
div h2{
    margin: 10px;
    text-align: center;
}
.carruselT{
    font-size: 32px;
    font-weight: bold;
}
.carruselP{
    color: black;
    font-size: 28px;
}

/*  ---------------------   Formulario de propiedades - Admins  ---------------------  */
.formulario{
   background-color: #969897;
   justify-content: center;
   align-items: center;
   width: 700px;
   margin: 0 auto;
   padding: 20px;
}

