@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap');

*{
    font-family: 'Montserrat Alternates', sans-serif;

}
.navbar, .footer{
    background-color: #146128;
}

.bodyPages{
    background-color: rgb(247, 242, 242);
}
nav{
    color: black;
    font-size: 20px;
}
.navIndex, .footerIndex{
    opacity: 0.7;
    color: transparent;
}
img{
    margin-left: 40px;
}
button{
    margin-left: 65px;
    border-radius: 15px;
}

.welcome{
    background-image: url(../img/forbes.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#welcomeButton{
    background-color:  #FFAD40;
    padding: 10px;
    border-radius: 7px;
    color: white;
}
header{
    min-height: 590px;
}
.welcomeText{
    padding: 150px;
    font-size: 24px;
    text-align: center;  
    color: white;
}

#productos{
    display: flex;
    margin: 10px 10px 30px 10px;
    padding: 20px;
    min-width: 300px;
}
.productosprueba{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imgProduct{
    width: 288px;
    height: 200px;
    border-radius: 15px;
    margin: 0px;
}
.buttonPreview{
    margin: 10px;
    margin-left: 90px;
}
.products{
    background-color: #72b183;
    border-style: solid;
}
.productSection{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 5px 5px 5px #454141;
    margin: 5px;
}
.productInfo{
    text-align: center;
    font-size: 24px;
    margin: 10px;
}
h2{
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
.products h2{
    margin: 10px;
    padding: 10px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.text{
    width: 65%;
}
.margin{
    margin: 100px;
}
.padding{
    padding: 30px;
    color:#146128
}
.porcentajes{
    display: flex;
    justify-content: space-between;
    margin: 100px;
}
.verde{
    color: green;
}
.oferta{
    background-color: black;
    text-align: center;
    color:#146128
}
.imagenOferta{
    margin-left: 300px;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    margin-top: 20px;
}
.textOferta{
    font-size: 18px;
    margin-left: 80px;
    margin-right: 300px;
    margin-top: 20px;
    text-align: justify;
}
.back{
    background-image: url(../img/back.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
.center{
    padding: 140px;
    color: white;
}
.footerDown{
    position: absolute;
    bottom: 0;
}

.centrado{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    color: black;
}
.personalImg{
    border-radius: 15px;
    height: 200px;
    width: 250px;
}
.contact{
    margin: 70px;
}
.contacto{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px;
}
.contacto h3 {
    color: #146128;
}
.contactos{
    width: 30%;
}
.opiniones{
    padding: 60px 300px 60px 300px;
    border-style: solid;
    text-align: center;
}

.personal{
    background-color: black;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 40px;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 20px;
    border-radius: 15px;
}
div h2{
    margin: 10px;
    text-align: center;
}
.flexContact{
    display: flex;
    justify-content: center;
    background-color: black;
}


.padding60{
    padding: 80px;
    text-align: center;
    color: white;

}
input, textarea{
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
}
.button{
    background-color: green;
    margin-left: 150px;
}
.dropdown-toggle{
    margin-left: 0px;
    margin-right: 70px;
}