@font-face {
  font-family: "neogrey";
  src: url("NeogreyMedium.otf"), url("NeogreyRegular.otf");
  font-weight: normal;
  font-style: normal;
}

/* --------------------- Cosas generales ---------------------  */
body{
  height: 100%;
  width: 100%;
}
h1,
h2,
h3 {
  font-family: "neogrey";
}
a {
  text-decoration: none;
  font-family: "neogrey";
  color: white;
}
* {
  font-family: "Times New Roman", Times, serif;
}
.navbar-dark .navbar-toggler {
  margin-right: 30px;
}
.displayFlexCenter {
  display: flex;
  justify-content: center;
}
.displayFlex {
  display: flex;
}
.textAlign{
  text-align: center;
}
input, textarea {
  padding: 10px;
  border-radius: 15px;
}
.color-black{
  background-color: rgb(20, 18, 18);
}
.padding{
  padding: 30px;
}

/* --------------------- Header, NavBar --------------------- */

nav {
  color: black;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px #000
}
nav a{
  color: rgba(255, 255, 255, 0.955);
}
li a:hover{
  transform: scale(1.03);
  transition: 500ms;
  color: #000;
}
.redSocial:hover{
  transform: scale(1.1);
  transition: 500ms;
}
.marginNav{
  margin-left: 110px;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
nav, footer{
  background-color: #146128;
}
.logo{
  padding: 0px;
  margin: 2px;
  width: 80px;
  height: 50px;
  margin-left: 120px;
}
.RedesSociales{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
.RedesSociales img{
  margin: 5px;
}
footer{
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin: auto;
  color: #ffffff;
  height: 20vh;
}
footer p{
  margin: 5px;
  font-size: 18px;
}
.logoFooter{
  height: 120px;
  width: 200px;
}

/* --------------------- Welcome --------------------- */

.welcome {
  background-image: url(../imgs/Imagen1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.welcome h2 {
  padding: 15px;
  border-radius: 15px;
  font-size: 34px;
}
.welcomeText {
  padding: 40vh;
  font-size: 24px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
.welcomeButton {
  background-color: #1e8617;
  padding: 6px;
  color: white;
  width: 190px;
  font-size: 22px;
  border-style: none;
  box-shadow: 2px 2px 15px #000000; 
  border-color: #1e4a1b;
  border-radius: 8px;
}
.welcomeButton:hover {
  transition: 1000ms;
  background-color: #095005;
}

/*  ---------------------   Sección Porcentajes  ---------------------  */

.porcentajes {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  padding: 20vh;
  color: white;
}
.verderSvg {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.bordeVerde {
  background-color: #188635;
  color: white;
  text-align: center;
  border-radius: 15px;
  border-style: solid;
  margin: 20px;
  padding: 0px;
  width: 180px;
  height: 100px;
}
.bordeVerde svg {
  height: 35px;
  width: 25px;
  margin-left: 10px;
}
.bordeVerde h4 {
  font-size: 34px;
}
.bordeVerde p {
  font-size: 18px;
}
.verdeP {
  margin-bottom: 0px;
}
.text {
  width: 50%;
  text-align: justify;
  font-size: 22px;
  margin: auto;
  padding: 3vh;
}
.porcentaje{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 50%;
} 

/*  ---------------------   Sección Oferta  ---------------------  */

.oferta {
  background-color: #f4f1e9;
  text-align: center;
  color: #000000;
  display: flex;
  height: 75vh;
  width: 100%;
}
.ofertText{
  width: 50%;
  text-align: center;
  margin: auto;
}
.imagenOferta {
  width: 75%;
  height: 100%;
}
.textOferta {
  font-size: 18px;
  width: 320px;
  margin: auto;
}
.textOferta p{
  margin-bottom: 0px;
}
.titleText{
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  padding: 10px;
  padding-bottom: 0px;
}
/*  ---------------------   Sección contacto Ws y Mail  ---------------------  */
.flexContact {
  display: flex;
  height: 60vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.flexContact a img:hover{
  transform: scale(1.1);
  transition: 400ms;
}
.contactForbes {
  color: white;
  margin: auto;
  font-size: 36px;
  padding: 10px;
}
.wsText {
  font-size: 24px;
  color: rgb(255, 255, 255);
  padding-bottom: 25px;
}

/*  ---------------------   Sección Back  ---------------------  */

.back {
  background-image: url(../imgs/back.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 65vh;
}
.back h2 {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.textBack {
  font-size: 24px;
  font-weight: bold;
  padding: 15px;
}
.center {
  padding: 20vh;  
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

/*  ---------------------   Sección contacto  ---------------------  */

.contact {
  padding: 50px;
  background-color: #f4f1e9;
  text-align: center;
}
.contact svg {
  height: 35px;
  width: 35px;
  margin-bottom: 10px;
}
.contacto {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.infoContacto {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.contact h3 {
  color: #136c2b;
}
.contactos {
  width: 33%;
}
.info {
  width: 33%;
}
.contactos a, .info a {
  color: black;
  text-decoration: underline;
}
.email{
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
  width: auto;
}

/* --------------------- Productos, secciòn ventas --------------------- */

#productos {
  display: flex;
  background-color: #f4f1e9;
  min-height: 95vh;
  padding-top: 50px;
}
.productosprueba {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  min-height: 75vh;
}
.productosprueba2 {
  width: 100%;
}
.imgProduct {
  width: 268px;
  border-radius: 12px 0px 0px 0px;
  margin: 0px;
}
.buttonPreview {
  padding: 5px;
  border-radius: 5px;
  background-color: #ffad40;
  color: white;
  font-size: 18px;
  border-style: none;
  margin-top: 5px;
  width: 100%;
}
.buttonPreview:hover {
  background-color: #ca852b;
  transition: 500ms;
}
.productSection {
  background-color: rgb(255, 255, 255);
  border-radius: 12px 0px 12px 0px;
  box-shadow: 5px 5px 14px 4px #454141;
  margin: 20px 5px 20px 5px;
  max-width: 480px;
  height: 220px;
  text-align: center;
  display: flex;
}
.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  font-size: 22px;
  margin: 10px;
  padding: 6px;
}
.products h2 {
  text-align: center;
  margin: 10px;
  padding: 10px;
  color: rgb(0, 0, 0);
}
.categorias {
  font-size: 22px;
  padding: 26px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to right,
    #000000,
    #101111,
    #252a2a,
    #3c3f3f,
    #585858
  );
  height: 100%;
}
.categorias a {
  color: white;
  text-decoration: none;
  padding-top: 15px;
  margin-left: 20px;
}
.categorias h3, .categorias h2 {
  color: white;
}
.togleCategory {
  background-image: linear-gradient(
    to right,
    #000000,
    #101111,
    #252a2a,
    #3c3f3f,
    #585858
  );
}

/*  ---------------------   Sección personas, AboutUs  ---------------------  */

.WIA {
  width: 100%;
  margin-top: 50px;
  height: 80vh;
  color: white;
}
.WIA img{
  width: 35%;
  height: 100%;
}
.WIA p {
  font-size: 26px;
  text-align: justify;
}
.WIA h2{
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}
.aboutUs{
  margin: auto;
  max-width: 50%;
}
.areaPersonal{
  text-align: center;
  color: rgb(0, 0, 0);
}
.areaPersonal h3{
  padding-top: 15px;
  color: white;
}
.personal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 90%;
}
.contenedor {
  display: flex;
  background-color: rgb(255, 255, 255);
  margin: 20px;
  border-radius: 12px 0px 12px 0px;
  width: 300px;
  box-shadow: 5px 5px 5px 2px #414040;
}
.centrado {
  width: 170px;
  padding: 0px 0px 0px 10px;
  text-align: justify;
}
.centrado p{
  margin: 0px;
  font-size: 16px;
}
.centrado h5{
  color: #217533;
  margin-top: 5px;
}
.personalImg {
  border-radius: 12px 0px 0px 0px;
  height: 210px;
  width: 110px;
}
.mission{
  color: rgb(1, 1, 1);
  min-height: 30vh;
  width: 100%;
  background-color: #f4f1e9;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  padding: 10px;
}
.mission div{
  width: 100%;
}
.mission h2{
  margin: 0px;
  margin-bottom: 10px;
}
/*  ---------------------   Formulario de propiedades - Admins  ---------------------  */
.formContainerTop{
  padding: 20px;
  margin-top: 20px;
}

/*  ---------------------   Formulario Vender  ---------------------  */

.sellerSection{
  min-height: 95vh;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.sellerSection p{
  font-size: 26px;
}
.sellerSection form{
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 320px;
  margin: auto;
  background-color:rgba(255, 255, 255, 0.952);
  color:#000
}
.buttonClient{
  display: flex;
  justify-content: end;
}

/*  ---------------------   Formularios  ---------------------  */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin-top: 50px;
  padding: 25px;
  background-color: hsl(0, 2%, 84%)
}
.form-container h2{
  text-align: center;
}
.form-container form {
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 350px;
  margin: auto;
  background-color:white
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
input {
  border-style: solid;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.5rem;
}
form button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 1rem;
}
.buttonMove{
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 50px;
  padding: 0.5rem 1rem;
  text-align: center;
}
.buttonMove button{
  margin: 0px;
  width: 100%;
}
form button:hover {
	background-color: #155724;
  transition: 1000ms;
}
label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: start;
}

/*  ---------------------   Formulario de propiedades - Admins  ---------------------  */

.userAccount{
  background-color: #c9cac9;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border-style: solid;
}
.imgUserAccount{
  border-radius: 5px;
  height: 200px;
  width: 110px;
}
.productSectionSell{
  width: 18rem;
  border-style: solid;
  margin: 10px;
  border-radius: 4px;
}
.user{
  min-height: 92vh;
  margin-top: 50px;
}
.cardProduct{
  background-color: rgb(255, 255, 255);
  border-radius: 12px 0px 12px 0px;
  box-shadow: 5px 5px 5px 3px #454141;
  margin: 20px 5px 20px 5px;
  width: 300px;
  text-align: center;
}
.cardProduct img{
  width: 100%;
}

/*  ---------------------   Animations  ---------------------  */

.scroll-animation {
  opacity: 0;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.scroll-animation.bottom {
  transform: translateY(100px); /* Mueve el div hacia abajo */
}

.scroll-animation.top {
  transform: translateY(-100px); /* Mueve el div hacia abajo */
}

.scroll-animation.left {
  transform: translateX(-100px); /* Mueve el div hacia la izquierda */
}

.scroll-animation.right {
  transform: translateX(100px); /* Mueve el div hacia la derecha */
}

.scroll-animation.mostrar {
  opacity: 1;
  transform: translateY(0) translateX(0); /* Aplica transformaciones de abajo, izquierda y derecha */
}


/*  ---------------------   Animations  ---------------------  */


.created{
  background-color:  #f4f1e9;
  padding: 40px;
  text-align: center;
  margin-top: 50px;
  min-height: 75vh;
}
.created img{
  height: 200px;
  width: 300px;
  border-radius: 10px;
}
.sectionForm{
  background-color: white;
  border-radius: 15px;
  border-style: solid;
  width: 600px;
  margin: 15px;
}
.sectionForm p, .sectionForm h5{
  font-size: 20px;
  width: 300px;
  padding-top: 10px;
}
.productSectionSell{
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 5px 5px 5px #454141;
  margin: 20px 10px 20px 10px;
  text-align: center;
}


.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow .15s ease-in-out;
}