@font-face {
  font-family: "neogrey";
  src: url("NeogreyMedium.otf"), url("NeogreyRegular.otf");
  font-weight: normal;
  font-style: normal;
}

/* --------------------- Cosas generales ---------------------  */

h1,
h2,
h3 {
  font-family: "neogrey";
}
a {
  text-decoration: none;
  font-family: "neogrey";
  color: white;
}
* {
  font-family: "Times New Roman", Times, serif;
}
h2 {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.navbar-dark .navbar-toggler {
  margin-right: 30px;
}
.displayFlexCenter {
  display: flex;
  justify-content: center;
}
.displayFlex {
  display: flex;
}
.textAlign{
  text-align: center;
}
input, textarea {
  padding: 10px;
  border-radius: 15px;
}

/* --------------------- Welcome, header, navBar --------------------- */

.welcome {
  background-image: url(../imgs/Imagen1.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.welcomeText {
  padding: 150px;
  font-size: 24px;
  text-align: center;
  color: white;
}
.welcomeButton {
  background-color: #ffad40;
  padding: 10px;
  border-radius: 7px;
  color: white;
  width: 220px;
  font-size: 22px;
}
.welcomeButton:hover {
  background-color: #ca852b;
}
header {
  height: 96vh;
}
nav img {
  margin-left: 80px;
}
nav {
  color: black;
  font-size: 20px;
}
nav, footer{
  background-color: #146128;
  opacity: 0.8;
  color: transparent;
}
.logoFooter{
  padding-top: 5px;
  width: 120px;
  height: 80px;
}
.seguir{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "neogrey";
}
.footerRedesSociales{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
.textFooter{
  text-align: center;
  margin: 0px;
  color: #000000;
}
/* --------------------- Productos, secciòn ventas --------------------- */

#productos {
  display: flex;
}
.productosprueba {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.productosprueba2 {
  width: 100%;
}
.imgProduct {
  width: 268px;
  height: 200px;
  border-radius: 15px;
  margin: 0px;
}
.buttonPreview {
  margin: 15px;
  padding: 4px;
  border-radius: 15px;
  background-color: #ffad40;
  border-color: white;
  color: white;
}
.buttonPreview:hover {
  background-color: #ca852b;
}
.products {
  background-color: #f4f1e9;
  border-style: solid;
}
.productSection {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 5px 5px 5px #454141;
  margin: 20px 10px 20px 10px;
  max-width: 268px;
  text-align: center;
}
.productSection a{
  color: #000000;
}
.productInfo {
  text-align: center;
  font-size: 24px;
  margin: 10px;
}
.products h2 {
  padding: 10px;
  color: white;
  background-image: linear-gradient(
    to right,
    #000000,
    #101111,
    #252a2a,
    #3c3f3f,
    #585858
  );
}
.categorias {
  font-size: 22px;
  padding: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: linear-gradient(
    to right,
    #000000,
    #101111,
    #252a2a,
    #3c3f3f,
    #585858
  );
  height: 100%;
}
.buttonCategry {
  margin: 0px;
  border-style: none;
}
.x button:hover{
  transform: scale(1.2);
}
.categorias a {
  color: white;
  text-decoration: none;
  padding-top: 15px;
}
.categorias h3 {
  color: white;
}
.togleCategory {
  background-image: linear-gradient(
    to right,
    #000000,
    #101111,
    #252a2a,
    #3c3f3f,
    #585858
  );
}
.togleCategory svg {
  color: #f4f1e9;
  height: 35px;
  width: 35px;
  border-radius: 15px;
}

/*  ---------------------   Sección Porcentajes  ---------------------  */

.porcentajes {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px 30px 100px;
}
.verde {
  color: #136c2b;
  text-align: center;
}
.verderSvg {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.verderSvgNoMargin {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}
.bordeVerde {
  border-radius: 15px;
  border-style: solid;
  margin: 10px;
  padding: 10px;
}
.verde svg {
  height: 35px;
  width: 25px;
  margin-left: 10px;
}
.verde h4 {
  font-size: 34px;
}
.verde p {
  width: 150px;
}
.verdeP {
  margin-bottom: 0px;
}
.text {
  width: 60%;
  text-align: justify;
  font-size: 26px;
  padding-top: 70px;
  font-weight: bold;
}

/*  ---------------------   Sección Oferta  ---------------------  */

.oferta {
  background-color: black;
  text-align: center;
  color: #2cce50;
}
.imagenOferta {
  width: 350px;
  height: 320px;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.textOferta {
  font-size: 18px;
  width: 320px;
  margin-top: 20px;
  margin-left: 30px;
  text-align: justify;
}
.textOferta p{
  margin-bottom: 0px;
}
.padding {
  padding: 30px;
}

/*  ---------------------   Sección Back  ---------------------  */

.back {
  background-image: url(../imgs/back.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
.textBack {
  font-size: 24px;
  font-weight: bold;
  padding: 15px;
}
.center {
  padding: 140px;  
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

/*  ---------------------   Sección contacto Ws y Mail  ---------------------  */

.flexContact {
  display: flex;
  justify-content: center;
  background-color: black;
}
.contactForbes {
  background-color: black;
  color: white;
  margin: 0px;
  border-radius: 0px;
  padding: 20px;
  font-size: 36px;
}
.ws {
  padding-top: 80px;
  text-align: center;
  width: 450px;
}
.wsText {
  font-size: 24px;
  color: white;
  padding-bottom: 25px;
}
#formMessage{
  margin: 20px 20px 20px 80px;
  width: 380px;
	padding: 20px;
	border-radius: 10px;
	background-color: #121413;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  color: #ffffff;
  border-color: #4caf50;
  border-style: solid;
}
#formMessage label {
	display: block;
	margin-bottom: 10px;
}
#formMessage input, textarea {
  width: 320px; 
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
  font-size: 16px;
  resize: none;
}
#formMessage button {
	background-color: #4caf50;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}
#formMessage button:hover {
	background-color: #155724;
}

/*  ---------------------   Sección contacto  ---------------------  */

.contact {
  padding: 50px;
  background-color: #f4f1e9;
  text-align: center;
}
.contact svg {
  height: 35px;
  width: 35px;
  margin-bottom: 10px;
}
.contacto {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.contact h3 {
  color: #136c2b;
}
.contactos {
  width: 30%;
}
.contactos a {
  color: black;
  text-decoration: underline;
}

/*  ---------------------   Sección Carrusel  ---------------------  */

.opiniones {
  padding: 60px 300px 60px 300px;
  text-align: center;
}
div h2 {
  margin: 10px;
  text-align: center;
}
.carruselT {
  font-size: 28px;
  font-weight: bold;
}
.carruselP {
  color: black;
  font-size: 22px;
  text-align: justify;
}

/*  ---------------------   Sección personas, AboutUs  ---------------------  */
.areaPersonal{
  background-color: black;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 40px;
}
.personal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contenedor {
  display: flex;
  background-color: black;
  color: white;
  margin: 20px;
  border-radius: 5px;
  width: 280px;
}
.centrado {
  color: white;
  width: 160px;
  padding: 5px;
}
.centrado p{
  margin: 0px;
}
.personalImg {
  border-radius: 5px;
  height: 200px;
  width: 110px;
}
.WIA {
  width: 100%;
}
.WIA div{
  width: 1000px;
  padding: 50px;
  text-align: justify;
}
.WIA h2 {
  background-color: white;
  padding-top: 0px;
  margin-top: 0px;
}
.WIA p {
  font-size: 22px;
  margin: 0px 60px 0px 60px;
}

/*  ---------------------   Formulario de propiedades - Admins  ---------------------  */
.formulario {
  background-color: #c9cac9;
  text-align: center;
  width: 550px;
  margin: 0 auto;
  padding: 20px;
}
.formularioEspacio{
  width: 100%;
  display: flex;
  justify-content: center ;
}
.formularioLogin {
  background-color: #c9cac9;
  text-align: center;
  padding: 20px;
  margin: 40px;
  border-radius: 15px;
  border-style: solid;
  width: 600px;
}


/*  ---------------------   Formulario Vender  ---------------------  */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.color-rosa{
  background-color: #f4f1e9;
}
.form-container form {
  background-color: #edededbd;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  width: 420px;
}
form h2{
  font-size: 1.5rem;
  margin: 0px;
  text-align: center;
  background-color: #edededbd;
  padding: 0px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.form-container input {
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.5rem;
}
.form-container button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 1rem;
}
.form-container button:hover {
	background-color: #155724;
}
.form-container label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.confirmation-message {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 1rem;
  display: none;
  text-align: center;
  font-size: 1.2rem;
}



/*  ---------------------   Formulario de propiedades - Admins  ---------------------  */

.userAccount{
  background-color: #c9cac9;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border-style: solid;
  width: 400px;
}
.imgUserAccount{
  border-radius: 5px;
  height: 200px;
  width: 110px;
}

.scroll-animation {
  opacity: 0; /* El div está inicialmente oculto */
  transform: translateY(100px); /* Mueve el div hacia abajo */
  transition: opacity 0.6s ease, transform 0.6s ease; /* Transición suave */
}

.scroll-animation.mostrar {
  opacity: 1; /* El div está completamente visible */
  transform: translateY(0); /* El div se mueve a su posición final */
}


a:hover{
  transform: scale(1.2);
}
