<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Categorías
  </button>
  <ul class="dropdown-menu dropdown-menu-dark">
    <li><a class="dropdown-item active" href="/ventas/category/Caracas">Caracas</a></li>
    <li><a class="dropdown-item" href="/ventas/category/San Antonio">San Antonio</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="/ventas/price/20000">Menor a 20k</a></li>
    <li><a class="dropdown-item" href="/ventas/price/40000">Menor a 40k</a></li>
    <li><a class="dropdown-item" href="/ventas/price/60000">Menor a 60k</a></li>
  </ul>
</div>