<div class="togleCategory">
  <div class="categorias">
    <h2>Categorías</h2>
    <br />
    <h3>Por ubicación:</h3>
    <a class="dropdown-item" href="/ventas/category/Caracas">Caracas</a>
    <a class="dropdown-item" href="/ventas/category/San Antonio">San Antonio</a>
    <a class="dropdown-item" href="/ventas/category/La Guaira">La Guaira</a>
    <br />
    <h3>Por precios:</h3>
    <a class="dropdown-item" href="/ventas/priceLower/50000">Menor que 50k</a>
    <a class="dropdown-item" href="/ventas/priceLower/100000">Menor que 100k</a>
    <a class="dropdown-item" href="/ventas/priceLower/200000">Menor que 200k</a>
    <a class="dropdown-item" href="/ventas/priceHigher/200000">Mayor que 200k</a>
  </div>
</div>