    <footer>
      <div class="footerRedesSociales">
        <a href="/"
          ><img
            src="../../imgs/logo.png"
            alt="logo"
            width="120"
            height="80"
            class=""
        /></a>
        <a href="https://www.facebook.com/forbesinmobiliaria">
          <i class="fab">
            <img
              src="https://icongr.am/simple/facebook.svg?size=30&color=currentColor"
              alt="facebook logo"
            />
          </i>
        </a>
        <a href="https://www.instagram.com/forbesinmobiliaria/">
          <i class="fab">
            <img
            src="https://icongr.am/simple/instagram.svg?size=30&color=currentColor"
            alt="instagram logo"
          />
          </i>
        </a>
        <a href="https://www.tiktok.com/@forbesinmobiliaria">
          <i class="fab">
            <img
              src="https://icongr.am/simple/tiktok.svg?size=30&color=currentColor"
              alt="tiktok logo"
            />
          </i>
        </a>
        <a href="https://api.whatsapp.com/send?phone=584143105450&text=Buenas%20tardes">
          <i class="fab">
            <img
              src="https://icongr.am/simple/whatsapp.svg?size=30&color=currentColor"
              alt="whatsapp logo"
            />
          </i>
        </a>
      </div>
      <p class="seguir">Síguenos en nuestras redes sociales!</p>
      <p class="textFooter">Sitio web</p>
    </footer>