    <footer>
      <a href="/">
        <img
        src="../../imgs/logo.png"
        alt="logo"
        class="logoFooter"/>
      </a>
      <div>
        <p>Rif: J-503267917</p>
        <p>Forbes Inmobiliaria</p>
        <p>Todos los derechos reservados © 2023</p>
      </div>
      <div>       
        <p>Síguenos en nuestras redes sociales!</p>
        <div class="RedesSociales">
          <a href="https://www.facebook.com/forbesinmobiliaria" target="_blank" class="redSocial">
              <img
                src="https://icongr.am/simple/facebook.svg?size=30&color=currentColor"
                alt="facebook logo"
              />
          </a>
          <a href="https://www.instagram.com/forbesinmobiliaria/" target="_blank" class="redSocial">
              <img
              src="https://icongr.am/simple/instagram.svg?size=30&color=currentColor"
              alt="instagram logo"
            />
          </a>
          <a href="https://www.tiktok.com/@forbesinmobiliaria" target="_blank" class="redSocial">
              <img
                src="https://icongr.am/simple/tiktok.svg?size=30&color=currentColor"
                alt="tiktok logo"
              />
          </a>
          <a href="https://api.whatsapp.com/send?phone=584143105450&text=Buenas%20tardes" target="_blank" class="redSocial">
              <img
                src="https://icongr.am/simple/whatsapp.svg?size=30&color=currentColor"
                alt="whatsapp logo"
              />
          </a>
        </div>
      </div>
    </footer>