    <footer class="footer p-1 mt-auto footerIndex">
        <div
          class="d-flex flex-wrap justify-content-around align-items-center p-3"
        >
          <a href="index.html"
            ><img
              src="../img/logo.png"
              alt="logo"
              width="120"
              height="80"
              class="d-inline-block align-text-center"
          /></a>
          <a href="https://www.facebook.com/forbesinmobiliaria" target="blank_">
            <img
              src="https://icongr.am/fontawesome/facebook-square.svg?size=30&color=currentColor"
              alt="facebook"
            />
          </a>
          <a href="https://www.instagram.com/forbesinmobiliaria/" target="blank_">
            <img
              src="https://icongr.am/fontawesome/instagram.svg?size=30&color=currentColor"
              alt="instagram"
            />
          </a>
          <a href="https://www.tiktok.com/@forbesinmobiliaria" target="blank_">
            <img
              src="https://icongr.am/simple/tiktok.svg?size=30&color=currentColor&colored=false"
              alt="tiktok logo"
            />
          </a>
        </div>
        <p class="text-center text-light">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui placeat
          eius voluptate laborum. A obcaecati possimus error dolorem ut, id
          architecto quae atque nobis enim fugiat provident impedit repellat
          sequi.
        </p>
        <p class="text-center text-muted">Sitio web</p>
    </footer>