    <nav class="navbar navbar-dark navbar-expand-lg navIndex">
        <a class="navbar-brand" href="/">
          <img
            src="../img/logo.png"
            alt="logo"
            width="120"
            height="70"
            class="d-inline-block align-text-center"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul
          class="navbar-nav justify-content-around collapse navbar-collapse"
          id="navbarNav"
        >
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="alquiler">Alquiler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacto">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutUs"
              >Sobre nosotros...</a
            >
          </li>
        </ul>
    </nav>