 <header>
      <nav class="navbar-dark navbar-expand-lg navIndex">
        <a href="/">
          <img
            src="../imgs/logo.png"
            alt="logo"
            class="logo"
          />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="navbar-nav justify-content-evenly collapse navbar-collapse marginNav" id="navbarNav">
          <li class="nav-item">
            <a class="nav-link" href="/ventas">Comprar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vender">Vender</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutUs">Sobre nosotros...</a>
          </li>
          <l1>
            <a href="/clientes" class="nav-link">Clientes</a>
          </l1>
          <l1>
            <a href="/micuenta" class="nav-link">Mi perfil</a>
          </l1>
          <l1>
            <a href="/formulario" class="nav-link">Formulario</a>
          </l1>
          <l1>
            <a href="/logout" class="nav-link">Salir</a>
          </l1>
        </ul>
      </nav>
    </header>