<nav class="navbar-dark navbar-expand-lg navIndex nav">
  <a href="/">
    <img
      src="../../imgs/logo.png"
      alt="logo"
      class="logo"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav justify-content-evenly collapse navbar-collapse marginNav" id="navbarNav">
    <li class="nav-item">
      <a  href="/ventas">Comprar</a>
    </li>
    <li class="nav-item">
      <a  href="/vender">Vender</a>
    </li>
    <li class="nav-item">
      <a  href="/aboutUs">Sobre nosotros...</a>
    </li>
    <l1>
      <a href="/clientes" >Clientes</a>
    </l1>
    <l1>
      <a href="/micuenta" >Mi perfil</a>
    </l1>
    <l1>
      <a href="/formulario" >Formulario</a>
    </l1>
    <l1>
      <a href="/logout" >Salir</a>
    </l1>
  </ul>
</nav>